// Ignorar arquivos com dados sensíveis
private.py
private.json
credentials.json
credentials.py
src/credentials.json
src/private.py
src/database/users.db
src/logs

// Ignorar Env
env
.venv

// Ignorar pycache
src/__pycache__